@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-open-sans;
}

.fc {
  /* the calendar root */
  margin: 20px !important;
  padding-bottom: 20px !important;
  height: auto !important;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fc {
  height: 97% !important;
}

.fc::-webkit-scrollbar {
  overflow-x: scroll;
  /* display: none; */
}

.fc .fc-scroller {
  /* overflow: hidden !important; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fc-scroller::-webkit-scrollbar {
  display: none !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5em !important;
}

.fc .fc-button-primary:disabled,
.fc .fc-button-primary {
  text-transform: uppercase !important;
}

.fc-day-past,
.fc-day-future {
  @apply !bg-gray-50;
}

.fc .fc-timegrid-col.fc-day-today {
  @apply !bg-white;
}

.fc .fc-daygrid-day.fc-day-today,
.fc .fc-daygrid-day.fc-day-past,
.fc .fc-daygrid-day.fc-day-future {
  @apply !bg-white;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
  border-bottom: 0.1px solid #333 !important;
}
.fc-col-header-cell.fc-day-today {
  @apply !bg-[#2602f3] !text-white;
}

.fc-col-header-cell.fc-day-past,
.fc-col-header-cell.fc-day-today,
.fc-col-header-cell.fc-day-future {
  @apply !p-4;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fc .fc-timegrid-col.fc-day-today,
.fc .fc-daygrid-day.fc-day-today {
  @apply !bg-white;
}

.now-indicator-line {
  @apply !border-t-2 !z-40;
}

.calendar-event {
  font-weight: bold;
}

.fc td {
  @apply !py-[2px];
}
.fc-button-active {
  @apply !z-0;
}

.container-parent {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.container-child {
  scroll-snap-align: start;
  height: 100vh;
}

.fc-today-button,
.fc-day-GridMonth-button,
.fc-day-GridWeek-button,
.fc-day-GridDay-button,
.fc-prev-button,
.fc-next-button,
.fc .fc-button-primary {
  @apply !bg-[#2602f3];
}

.fc .fc-button-primary {
  margin: 0 10px;
  @apply !rounded-md !border-none;
}
